/logs/*
webproof.json

debug/
target/

.DS_Store

rustls_acme_cache

# Circom junk files
proofs/node_modules/*
proofs/build/*
proofs/ptau/*
proofs/circuits/test/*.circom
proofs/circuits/main/*
proofs/ir_log/*
proofs/*.bin
proofs/log_input_signals.txt
proofs/*.wtns
client/.rustc_info.json

# exclude ios build files
headers/libclient_ios.h