/logs/*
webproof.json

debug/
target/

.DS_Store

rustls_acme_cache

# Circom junk files
proofs/node_modules/*
proofs/build/*
proofs/ptau/*
proofs/circuits/test/*.circom
proofs/circuits/main/*
proofs/ir_log/*
proofs/log_input_signals.txt
proofs/**/*.wtns
proofs/web_proof_circuits/**/*.r1cs
proofs/web_proof_circuits/*.r1cs
proofs/web_proof_circuits/**/*_js/*
proofs/web_proof_circuits/**/*.bin
client/.rustc_info.json

# exclude ios/wasm build files
client_ios/headers/libclient_ios.h
client_wasm/demo/static/build
client_ios/demo/demo.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate

# artifacts zipfile
*.zip