[workspace]
members=["client", "client_ios", "client_wasm", "notary", "proofs"]
# members =["client", "client_wasm", "proofs"] # config for wasm32 rust analyzer
# members =["client", "client_ios"] # config for ios rust analyzer
resolver="2"

[workspace.dependencies]
# Local re-exporting
client={ path="client" }
proofs={ path="proofs" }
# Serde
serde     ={ version="1.0.204", features=["derive"] }
serde_json="1.0.120"
# Logging
tracing="0.1.40"
tracing-subscriber={ version="0.3.18", features=["env-filter"] }
tlsn-verifier={ git="https://github.com/tlsnotary/tlsn.git", tag="v0.1.0-alpha.4" }
tlsn-prover={ git="https://github.com/tlsnotary/tlsn.git", tag="v0.1.0-alpha.4", features=[
	"tracing",
] }
tlsn-core={ git="https://github.com/tlsnotary/tlsn.git", tag="v0.1.0-alpha.4" }
tls-client={ git="https://github.com/tlsnotary/tlsn.git", tag="v0.1.0-alpha.4", package="tlsn-tls-client" }

tls-client2       ={ git="https://github.com/pluto/tls-origo-legacy", package="tls-client" }
tls-core          ={ git="https://github.com/pluto/tls-origo-legacy", package="tls-core" }
rayon             ="1.10.0"
wasm-bindgen-rayon="=1.2.1"
futures           ="0.3"
caratls           ={ git="https://github.com/pluto/caratls.git", rev="b900d0d5eb5f92f656e01bf717b6a17ea1775152" }

# CLI
clap={ version="4.5.13", features=["derive"] }
# errors
thiserror="1.0.61"

# HTTP
hyper         ={ version="1.4", features=["full"] }
hyper-util    ={ version="0.1", features=["full"] }
http-body-util="0.1"

# Async
tokio       ={ version="1.39.1", features=["full"] }
tokio-util  ={ version="0.7" }
tokio-rustls={ version="0.26.0", default-features=false, features=["logging", "tls12"] }

[package]
name   ="webprover"
edition="2021"

[[bin]]
name="mock_server"
path="bin/mock_server.rs"

[dependencies]
# Dependancies for the binaries

hyper         ={ workspace=true }
hyper-util    ={ workspace=true }
http-body-util={ workspace=true }
pki-types     ={ package="rustls-pki-types", version="1.7" }
rustls        ={ version="0.23.11", default-features=false, features=["logging", "tls12", "std", "ring"] }
rustls-pemfile={ version="2.0.0" }
tokio         ={ workspace=true }
tokio-rustls  ={ workspace=true }
serde_json    ={ workspace=true }

[profile.dev]
opt-level      =1
overflow-checks=false
split-debuginfo="unpacked"

[profile.release]
opt-level    =3
lto          ="fat"
codegen-units=1
panic        ="abort"
strip        =true
debug        =true    # Propagate more information up through FFI
