[workspace]
members=["client", "client_ios", "client_wasm", "notary", "proofs"]
# members =["client", "client_wasm"] # config for wasm32 rust analyzer
# members =["client", "client_ios"] # config for ios rust analyzer
resolver="2"

[workspace.dependencies]
# Local re-exporting
client={ path="client" }
# Serde
serde     ={ version="1.0.204", features=["derive"] }
serde_json="1.0.120"
# Logging
tracing           ="0.1.40"
tracing-subscriber={ version="0.3.18", features=["env-filter"] }

notary-server={ git="https://github.com/tlsnotary/tlsn.git", tag="v0.1.0-alpha.4" }
tlsn-verifier={ git="https://github.com/tlsnotary/tlsn.git", tag="v0.1.0-alpha.4" }
tlsn-prover={ git="https://github.com/tlsnotary/tlsn.git", tag="v0.1.0-alpha.4", features=[
	"tracing",
] }
tlsn-core={ git="https://github.com/tlsnotary/tlsn.git", tag="v0.1.0-alpha.4" }
tls-client={ git="https://github.com/tlsnotary/tlsn.git", tag="v0.1.0-alpha.4", package="tlsn-tls-client" }

[package]
name   ="webprover"
edition="2021"

[[bin]]
name="mock_server"
path="bin/mock_server.rs"

[dependencies]
# Dependancies for the binaries
tokio            ={ version="1.39.0", features=["full"] }
hyper            ={ version="1.4", features=["full"] }
hyper-util       ={ version="0.1", features=["full"] }
http-body-util   ="0.1"
pki-types        ={ package="rustls-pki-types", version="1.7" }
rustls           ={ version="0.23.11", default-features=false, features=["logging", "tls12", "std", "ring"] }
rustls-pemfile   ={ version="2.0.0" }
tokio-rustls     ={ version="0.26.0", default-features=false, features=["logging", "tls12"] }
futures-util     ="0.3"
form_urlencoded  ="1.2.1"
tokio-tungstenite="0.23.0"
serde            ={ version="1.0.204", features=["derive"] }
serde_json       ="1.0.120"

# TODO (autoparallel): I commented this out because it makes testing in release mode build really slow
# [profile.release]
# opt-level = 2
# lto = true

# TODO how to get symbols for debugging (stack trace) into wasm module in --release mode?
# [profile.release]
# debug = true
