[Unit]
Description=Notary Service
After=network.target

[Service]
User=notary
Group=notary
WorkingDirectory=/opt/notary/bin
ExecStart=/opt/notary/bin/notary --config /opt/notary/etc/notary-config.toml
Restart=always
Environment="RUST_LOG=info"

[Install]
WantedBy=multi-user.target