
[build]
target="wasm32-unknown-unknown"
# target="aarch64-apple-darwin"

[target.'cfg(target_arch = "wasm32")']
rustflags=[
  # failed attempts to silence warnings for using unstable compiler options for atomics, issue persists
  # "-Z", "unstable-options",
  # "-A", "unstable_features",
  "-C",
  "target-feature=+atomics,+bulk-memory,+mutable-globals",
]

[alias]
# cargo aliases to check and build the wasm client separately
wasm-check="check --target wasm32-unknown-unknown -p wasm-client"
wasm-build="wasm-pack build --target web"
