[package]
name   ="proofs"
version="0.2.0"
edition="2021"
publish=false

[[bin]]
name="test-prove"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
circom_witnesscalc={ git="https://github.com/pluto/circom-witnesscalc" } # Fork is needed apparently??

[dependencies]
serde     ="1.0"
serde_json="1.0"
hex = "0.4"
# client-side-prover={ path="../../client-side-prover" }
client-side-prover={ git="https://github.com/pluto/client-side-prover", branch="tl-compress-serde" }
ff                ={ version="0.13", default-features=false, features=["derive"] }
bellpepper-core   ="0.4"
halo2curves       ="0.6.1"

byteorder ="1.5"
num-bigint="0.4"
itertools ="0.13"

# CLI & logs
clap                        ={ workspace=true }
tracing.workspace           =true
tracing-subscriber.workspace=true

bincode="1.3"

thiserror="1.0"

# Poseidon hashing
light-poseidon={ git="https://github.com/pluto/light-poseidon" }
ark-bn254     ="=0.4.0"

tls-client2.workspace=true

[dev-dependencies]
tracing-test="0.2.5"

[features]
verify-steps=[]
timing      =[]
