[package]
name   ="proofs"
version="0.1.0"
edition="2021"

[[bin]]
name="test-prove"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
circom_witnesscalc={ git="https://github.com/iden3/circom-witnesscalc" } # Fork is needed apparently??

[dependencies]
serde     ="1.0"
serde_json="1.0"

rust-witness={ git="https://github.com/chancehudson/rust-witness" }
paste       ="1.0"

# client-side-prover={ path="../../client-side-prover" }
client-side-prover={ git="https://github.com/pluto/client-side-prover", rev="9576f74208cd64e10d5159471ba7c71a2292ed2f" }
ff                ={ version="0.13", default-features=false, features=["derive"] }
bellpepper-core   ="0.4"
halo2curves       ="0.6.1"

byteorder ="1.5"
num-bigint="0.4"
num-traits="0.2"
itertools ="0.13"

clap                        ={ version="4.5", features=["derive"] }
tracing.workspace           =true
tracing-subscriber.workspace=true

bincode="1.3"

thiserror="1.0"

# Poseidon hashing
light-poseidon={ git="https://github.com/pluto/light-poseidon" }
ark-bn254     ="=0.4.0"

[dev-dependencies]
chacha20poly1305="0.10.1"
tracing-test="0.2.5"

[build-dependencies]
anyhow      ="1.0"
rust-witness={ git="https://github.com/chancehudson/rust-witness" }
paste       ="1.0"

[features]
verify-steps=[]
timing      =[]
