[package]
name   ="proofs"
version="0.2.0"
edition="2021"
publish=false
build  ="build.rs"

[[bin]]
name="test-prove"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
circom_witnesscalc={ git="https://github.com/pluto/circom-witnesscalc" } # Fork is needed apparently??

[dependencies]
serde             ="1.0"
serde_json        ="1.0"
hex               ="0.4"
client-side-prover={ git="https://github.com/pluto/client-side-prover", rev="8e7eb839e901dcee416179116bb0f9c4f7ae683c" }
ff                ={ version="0.13", default-features=false, features=["derive"] }
bellpepper-core   ="0.4"
halo2curves       ="0.6.1"

byteorder ="1.5"
num-bigint="0.4"
itertools ="0.13"

# CLI & logs
clap                        ={ workspace=true }
tracing.workspace           =true
tracing-subscriber.workspace=true

bincode="1.3"

thiserror="1.0"

# Noir
acvm={ git="https://github.com/noir-lang/noir" }

# Poseidon hashing
light-poseidon={ git="https://github.com/pluto/light-poseidon", rev="331516be54b22143be1b4751feb7d85432dc5c17" }
ark-bn254     ="0.5"

tls-client2.workspace=true

[dev-dependencies]
tracing-test="0.2.5"

[build-dependencies]
cargo_metadata="0.19.1"

[features]
verify-steps=[]
timing      =[]
