name: client_ios

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: client_ios
    runs-on: macos-latest

    env:
      CARGO_TERM_COLOR: always

    steps:
      - uses: actions/checkout@v4

      - run: rustup toolchain install nightly --profile minimal --no-self-update

      - run: rustup component add rust-src --toolchain nightly-aarch64-apple-darwin

      # TODO: do we need llvm for this?
      - name: Install LLVM and Clang to support 'ring' crate and protobuf for witnesscalc
        run: |
          brew install llvm@18 # https://formulae.brew.sh/formula/llvm#default
          echo /opt/homebrew/opt/llvm@18/bin >> $GITHUB_PATH
          brew install protobuf

      - uses: Swatinem/rust-cache@v2

      - name: Download Circom (macos)
        run: |
          CIRCOM_VERSION=2.1.9
          curl -L https://github.com/iden3/circom/releases/download/v$CIRCOM_VERSION/circom-macos-amd64 -o circom
          chmod +x circom
          sudo mv circom /usr/local/bin/
          circom --version

      - name: Setup circom-witnesscalc
        run: |
          cd .. && git clone https://github.com/iden3/circom-witnesscalc.git
          cd circom-witnesscalc
          cargo install --path .
          echo $(which build-circuit)

      - run: |
          cd proofs
          npm install
          make aes
          cd ..
          make ios

      - uses: actions/upload-artifact@v4
        with:
          name: "libclient_ios.a"
          path: "target/aarch64-apple-ios/release/libclient_ios.a"

      - uses: actions/upload-artifact@v4
        with:
          name: "libclient_ios_sim.a"
          path: "target/aarch64-apple-ios-sim/release/libclient_ios.a"

      - uses: actions/upload-artifact@v4
        with:
          name: "libclient_ios.h"
          path: "target/aarch64-apple-ios/release/libclient_ios.h"

      - uses: actions/upload-artifact@v4
        with:
          name: "libclient_ios.xcframework"
          path: "target/aarch64-apple-ios/release/libclient_ios.xcframework"
