name: client_ios

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: client_ios
    runs-on: macos-latest

    env:
      CARGO_TERM_COLOR: always

    steps:
      - uses: actions/checkout@v4

      - run: rustup toolchain install nightly --profile minimal --no-self-update

      - run: rustup component add rust-src --toolchain nightly-aarch64-apple-darwin

      # TODO: do we need llvm for this?
      - name: Install LLVM and Clang to support 'ring' crate and protobuf for witnesscalc
        run: |
          brew install llvm@18 # https://formulae.brew.sh/formula/llvm#default
          echo /opt/homebrew/opt/llvm@18/bin >> $GITHUB_PATH
          brew install protobuf

      - name: Download prebuilt web-prover-circuits artifact
        run: |
          curl -L -o circuits.zip https://github.com/pluto/web-prover-circuits/releases/download/v0.2.3/circom-artifacts-v0.2.3.zip
          unzip -o circuits.zip -d proofs/web_proof_circuits

      - name: compile iOS
        run: |
          make ios

      - uses: actions/upload-artifact@v4
        with:
          name: "libclient_ios.a"
          path: "target/aarch64-apple-ios/release/libclient_ios.a"

      - uses: actions/upload-artifact@v4
        with:
          name: "libclient_ios_sim.a"
          path: "target/aarch64-apple-ios-sim/release/libclient_ios.a"

      - uses: actions/upload-artifact@v4
        with:
          name: "libclient_ios.h"
          path: "target/aarch64-apple-ios/release/libclient_ios.h"

      - uses: actions/upload-artifact@v4
        with:
          name: "libclient_ios.xcframework"
          path: "target/aarch64-apple-ios/release/libclient_ios.xcframework"
