name: client

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [self-hosted, macos-latest]

    name: client on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2024-10-28

      - run: sudo apt install -y protobuf-compiler
        if: matrix.os == 'self-hosted'

      - name: Install LLVM and Clang to support 'ring' crate and protobuf
        if: matrix.os == 'macos-latest'
        run: |
          brew install llvm@18 # https://formulae.brew.sh/formula/llvm#default
          echo /opt/homebrew/opt/llvm@18/bin >> $GITHUB_PATH
          brew install protobuf

      - name: Install unzip (linux)
        if: matrix.os == 'self-hosted'
        run: sudo apt install unzip -y

      - name: Download prebuilt web-prover-circuits artifact
        run: |
          cd proofs && make web-prover-circuits

      - name: Check semver for client
        uses: obi1kenobi/cargo-semver-checks-action@v2
        with:
          package: client
          manifest-path: client/Cargo.toml
          baseline-root: .
          baseline-ref: "origin/main"

      - run: |
          RUST_LOG=DEBUG cargo +nightly-2024-10-28 run --release -p notary -- --config ./fixture/notary-config.toml &
          sleep 30
          NOTARY_CA_CERT_PATH=../../fixture/certs/ca-cert.cer cargo +nightly-2024-10-28 run --release -p client -- --config ./fixture/client.tlsn_tcp_local.json
          NOTARY_CA_CERT_PATH=../../fixture/certs/ca-cert.cer cargo +nightly-2024-10-28 run --release -p client -- --config ./fixture/client.origo_tcp_local.json
      - uses: Swatinem/rust-cache@v2
