name: client

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - main

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    name: client on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - run: rustup toolchain install nightly --profile minimal --no-self-update

      - run: rustup component add rust-src --toolchain nightly-x86_64-unknown-linux-gnu
        if: matrix.os == 'ubuntu-latest'

      - run: rustup component add rust-src --toolchain nightly-aarch64-apple-darwin
        if: matrix.os == 'macos-latest'

      - name: Install LLVM and Clang to support 'ring' crate
        if: matrix.os == 'macos-latest'
        run: |
          brew install llvm@18 # https://formulae.brew.sh/formula/llvm#default
          echo /usr/local/opt/llvm@18/bin >> $GITHUB_PATH

      - run: |
          RUST_LOG=DEBUG cargo run --release -p notary -- --config ./fixture/notary-config.toml &
          sleep 10
          NOTARY_CA_CERT_PATH=../../fixture/certs/ca-cert.cer cargo run --release -p client -- --config ./fixture/client.tlsn_tcp_local.json
