name: tests/proofs

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Protocol Buffers
      run: |
        sudo apt-get update
        sudo apt-get install -y protobuf-compiler libprotobuf-dev

    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: nightly-2024-06-10

    - name: Install unzip
      run: sudo apt install unzip -y

    - name: Download prebuilt web-prover-circuits artifact
      run: |
        cd proofs && make web-prover-circuits-512
    - name: Check semver for proofs
      uses: obi1kenobi/cargo-semver-checks-action@v2
      with:
        package: proofs
        manifest-path: proofs/Cargo.toml
        baseline-root: "."

    - name: Run tests
      run: |
        cargo test --package proofs --release
