name: proofs

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  setup:
    uses: ./.github/workflows/download-circuits.yaml

  version-check:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/actions/protoc
        with:
          rust-version: nightly-2024-06-10

      - name: Restore circuit artifacts
        uses: actions/cache@v3
        with:
          path: proofs/web_proof_circuits
          key: ${{ needs.setup.outputs.cache-key }}

      - name: Check semver
        uses: obi1kenobi/cargo-semver-checks-action@v2
        with:
          package: proofs
          manifest-path: proofs/Cargo.toml

  build:
    needs: setup
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - uses: ./.github/actions/protoc
      with:
        rust-version: nightly-2024-06-10

    - name: Restore circuit artifacts
      uses: actions/cache@v3
      with:
          path: proofs/web_proof_circuits
          key: ${{ needs.setup.outputs.cache-key }}

    - name: Run tests
      run: |
        cargo test --package proofs --release