name: Rust Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: macos-latest
    if: github.event.pull_request.draft == false
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-aarch64-apple-darwin

      - name: Install rust-src component
        run: rustup component add rust-src --toolchain nightly-aarch64-apple-darwin

      - name: Run Rust tests
        run: cargo test --all
