name: make web-prover-circuits

on:
  workflow_call:
    outputs:
      version:
        description: "web-prover-circuits version"
        value: ${{ jobs.build.outputs.version }}
      cache-key:
        description: "Github CI cache key for web-prover-circuits version"
        value: web-prover-circuits-v${{ jobs.build.outputs.version }}

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.set-version.outputs.version }}
    steps:
      - uses: actions/checkout@v4

      - name: Extract web_prover_circuits_version from Cargo.toml
        id: set-version
        run: |
          version=$(sed -n 's/^web_prover_circuits_version *= *"\(.*\)"/\1/p' Cargo.toml)
          echo "version=$version" >> $GITHUB_OUTPUT
          echo "::notice title=WEB_PROVER_CIRCUITS_VERSION::v$version"

      - name: Check cache
        id: cached-circuits
        uses: actions/cache@v4
        with:
          path: proofs/web_proof_circuits
          key: web-prover-circuits-v${{ steps.set_version.outputs.version }}
          lookup-only: true # don't download, but still save if cache miss

      - name: make web-prover-circuits
        if: steps.cached-circuits.outputs.cache-hit != 'true'
        run: cd proofs && make web-prover-circuits
